body {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding:0px;
	font-family: 'Arial', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}


.header {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

.header h1 {
	font-size:40px;
	margin:0px;
}

.nav ul {
	margin-top:25px;
	float:right;
}

.nav ul li {
	display:inline;
	padding:5px;
}

.nav ul li a {
	color:#666;
}

.nav ul li a:hover {
	color:#333;
}

.subheader {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	font-family: 'Georgia', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}

.subheader h2 {
	margin:0px;
}

.subheader p {
	margin:0px;
	padding-top:5px;
}

.logo {
	padding-top:10px;
}

.logo img {
	border-style:none;
}

.content-wrapper {
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	height:275px;
	background-image: url(/static/img/content-background-slice.png);
	background-position:center top;
	background-repeat:repeat-x;
}

.index-content {
	width:800px;
	height:90px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:30px;
	border:1px solid #ccc;
	background-image: url(/static/img/box.png);
}

.call-content {
	width:800px;
	height:175px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:30px;
	border:1px solidd #ccc;
	background-color:#fff;
	padding-top:10px;
}

.index-content label {
	font-size:26px;
	line-height:30px;
	color:#fff;
	margin-left:25px;
	margin-right:20px;
}

.index-content input {
	font-size:25px;
	width:425px;
	height:25px;
	padding-top:12px;
	padding-bottom:11px;
	padding-left:12px;
	padding-right:12px;
	margin-top:17px;
}

.index-content button {
	background-color:transparent;
	border:0px;
	margin-top:9px;
	margin-right:25px;
	float:right;
}

.index-content .previous a {
	font-size:10px;
	color:#fff;
	text-decoration:none;
}

.index-content .previous a:visited {
	color:#fff;
}

.index-content p {
	margin-left:10px;
	margin-top:7px;
	padding:0px;
}

.hint {
	color:#999;
}

.call_details {
	margin-top:15px;
}

.call_details td {
	margin-left:100px;
	padding-left:30px;
}

.footer {
	height:120px;
	width:100%;
}

.footer p {
	text-align:center;
}

a {
	color:#666;
}

a:visited {
	color:#666;
}

a:hover {
	color:#333;
}