body {
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
	font-family: 'Arial', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}


.header {
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

.header h1 {
	font-size:40px;
	margin:0px;
}

.subheader {
	width:900px;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	font-family: 'Georgia', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}

.subheader h2 {
	margin:0px;
}

.subheader p {
	margin:0px;
	padding-top:5px;
}

.logo {
	font-size:40px;
	padding-left:20px;
	padding-top:10px;
}

.content-wrapper {
	border-top:1px solid #666;
	border-bottom:1px solid #666;
}

.content {
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:30px;
	border:1px solid #000;
}

.content label {
	font-size:20px;
}

.content input {
	font-size:20px;
}

.footer {
	height:120px;
	width:100%;
}