<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src="/static/js/jquery.form.js" type="text/javascript"></script>
	<script src="/static/js/jquery.example.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.blockUI.js" type="text/javascript"></script>
	<link rel="stylesheet" href='/static/css/main.css' type="text/css" media="screen" />
	
	<script type="text/javascript" src="/static/js/jquery.qtip-1.0.0.min.js"></script>
	
		{% block additional_headers %}{% endblock %}
</head>
<body>
	<div class="header">
		<div class="logo">
			<a href="{% url phonetap-main-homepage %}"><img src="/static/img/logo.png"></a>
		</div>
	</div>
	{% block content %}
    {{ content }}
    {% endblock %}
	<div class="footer">
		<p>Made by <a href="http://bnmrrs.com">Ben Morris</a> as part of <a href="htp://djangodash.com">DjangoDash 2010</a></p>
	</div>
</body>
</html>