<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src="/static/js/jquery.form.js" type="text/javascript"></script>
	<link rel="stylesheet" href='/static/css/main.css' type="text/css" media="screen" />
	
	  <style>
	    .hide
	    {
	      display: none;
	    }

	    .show
	    {
	      display: block;
	    }
	  </style>
	
	<script type="text/javascript">
		{% block header_javascript %}{% endblock %}
	</script>
</head>
<body>
	<div class="header">
		<h1>PhoneTap</h1>
	</div>
	{% block content %}
    {{ content }}
    {% endblock %}
	<div class="footer">
	</div>
</body>
</html>