{% extends "base.html" %}
{% load main_extras %}

{% block title %}PhoneTap{% endblock %}

{% block content %}
{{ success }}
<div class="content-wrapper">
	<div class="subheader">
		<h2><em>Recorded Call...</em></h2>
	</div>
	<div class="call-content">
		<div class="call_detail_wrapper" style="text-align:center">
			{% if call.recording_url %}
			<a href="{{ call.recording_url }}">Download recording now</a>
			{% else %}
			No recording was found to download<br />
			{% endif %}
			{% if call.recording_url %}
			Listen Now:
			<object type="application/x-shockwave-flash" width="17" height="17" 
				data="/static/swf/button/musicplayer.swf?song_url={{ call.recording_url }}.mp3">
			    <param name="movie" 
			    value="/site_media/swf/button/musicplayer.swf?song_url={{ call.recording_url }}.mp3" />
			</object><br />
			{% else %}
			Listen Now: No recording was found<br />
			{% endif %}
			</div>
			
			<table class="call_details">
				<tr>
					<td><strong>Status:</strong></td>
					<td>{{ call.current_status }}</td>
				</tr>
				<tr>
					<td><strong>Number Called:</strong></td>
					<td>{{ call.callee_number|tel }}</td>
				</tr>
				<tr>
					<td><strong>Date:</strong></td>
					<td>{{ call.start_time|date:"F dS, Y, h:m A" }}</td>
				</tr>
				<tr>
					<td><strong>Duration:<strong></td>
					<td>{{ call.duration|duration }}</td>
				</tr>
			</table>
	</div>
</div>
{% endblock %}