{% extends "base.html" %}
{% load main_extras %}

{% block title %}PhoneTap - Guidelines{% endblock %}

{% block content %}
{{ success }}
<div class="content-wrapper">
	<div class="subheader">
		<h2><em>Guidelines...</em></h2>
	</div>
	<div class="call-content">
		<strong style="padding-left:20px">Legality</strong>
		<p style="padding-right:75px; padding-left:20px">Laws on recording telephone conversations vary from country to country and state to state.  Please make sure that you are aware of any local laws before using this service.  Wikipedia has a good overview in their <a href="http://en.wikipedia.org/wiki/Telephone_recording_laws">article</a> on the subject.</p>		
	</div>
</div>
{% endblock %}