{% extends "base.html" %}

{% block title %}PhoneTap{% endblock %}

{% block additional_headers %}
<script src="/static/js/main.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
{{ success }}
<div class="content-wrapper">
	<div class="subheader">
		<h2><em>Record your phone calls...</em></h2>
		<p>PhoneTap enables you to record your phone calls and then download them as a convenient .MP3 file.  No hardware required, just input your number and the number you'd like to call.  When you pick up we'll dial your requested number, record the call and then when you're done, send you an email with a link to the download.</p>
	</div>
	<div class="index-content">
	<form action="{% url phonetap-main-make_call %}" method="post" id="call-form">
		<div id="user-num-wrapper">
			<label for="caller_num">Your Phone #:</label>
			<input type="text" title="test" id="caller_num" name="caller_num" style="width:335px;"  />
			<button type="button" class="next-button" id="user-num-button"><img src="/static/img/next-button.png"></button>
		</div>
		<div id="called-num-wrapper" style="display:none;">
			<label for="callee_num">Phone # To Call:</label>
			<input type="text" id="callee_num" name="callee_num" style="width:300px;" />
			<button type="button" class="next-button" id="called-num-button"><img src="/static/img/next-button.png"></button>
			<p class="previous"><a href="#" id="called-num-previous">Previous</a></p>
		</div>
		<div id="email-wrapper" style="display:none;">
			<label for="caller_email">Email:</label>
			<input type="text" id="caller_email" name="caller_email" />
			<button type="button" class="next-button" id="email-button"><img src="/static/img/call-button.png"></button>
			<p class="previous"><a href="#" id="email-previous">Previous</a></p>
		</div>
		</form>
	</div>
</div>
{% endblock %}